body > div > button {
  background-color: #f7f898;
  padding: 20px 50px;
  margin: 10px;
  border-radius: 20px;
  font-weight: 800;
  font-size: 20px;
}
body > div > button:hover {
  transition: 0.3s smooth;
  background-color: rgb(182, 155, 112);
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

body > h1 {
  text-align: center;
  color: #646464;
}

.cl {
  box-shadow: #f7f898;
  background-color: bisque;
}

body > img {
  top: 0;
  width: 97%;
  height: 95vh;
  z-index: -100;
  display: block;
  position: fixed;
  padding: 12px;
}

body {
  background-color: bisque;
}

.info {
  color: #b3b3b3;
  bottom: 0%;
}

.info > ul {
  padding: 10px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info > ul > li {
  background-color: rgb(49, 49, 49);
  border: 2px solid #646464;
}
